# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
.env
.venv/

# OS specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# MyPy and cache
.mypy_cache/
.pytest_cache/

# FAISS
*faiss